/*-------------------------------------------------
=  Table of Css

1.General
2.Main Settings
3.Main Navigation
4.FullPage
5.Main content
6.Blog Page
7.Navigation
8.Page
9.Post
10.Project
11.Contact Form
12.Footer
13.Elements
14.Loader
15.Magnific popup
16.OWL
17.Animations

-------------------------------------------------*/
/*-------------------------------------------------
=  Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");

/*-------------------------------------------------*/
/* =  2.General
/*-------------------------------------------------*/
html {
  max-width: 100vw;
}


body {
  font: 100% "Product Sans", sans-serif;
  color: whitesmoke;
  background-color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  font-size: 1em;
  max-height: 100vh;
  max-width: 100vw !important;
}

.stop-scrolling {
  height: 200%;
  overflow: hidden;
}


h2, h3 {
  font-size: 120px;
  line-height: 150px;
  font-weight: 700;
  margin-bottom: 75px;
  margin-left: -7px;
}

@media screen and (max-width: 1199px) {
  h2, h3 {
    font-size: 100px;
    line-height: 120px;
  }
}

@media screen and (max-width: 991px) {
  h2, h3 {
    font-size: 80px;
    line-height: 100px;
  }
}

@media screen and (max-width: 600px) {
  h2, h3 {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  h2, h3 {
    font-size: 60px;
    line-height: 70px;
    margin-left: -2px;
  }
}

@media screen and (max-width: 380px) {
  h2, h3 {
    font-size: 50px;
    line-height: 60px;
  }
}

h4 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 25px;
}


a {
  color: white;
  position: relative;
  text-decoration: none;
  letter-spacing: 1px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 100% 85%;
  background-size: 0% 2%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

a:hover {
  background-position: 0 85%;
  background-size: 100% 2%;
  transition: background-size 0.8s;
}

h2 a {
  background-position: 100% 95%;
  background-size: 0 6%;
}

h2 a:hover {
  background-position: 0 95%;
  background-size: 100% 6%;
}

#share-this a {
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

#share-this a:hover {
  letter-spacing: 2.5px;
  transition: all 0.4s ease-in-out;
}

.card-columns a {
  background-image: none;
}

@media screen and (min-width: 768px) {
  a {
    display: inline-block;
  }
}

@media screen and (min-width: 767px) {
  a.undeline {
    text-decoration: none;
  }
  a.undeline:after {
    content: '';
    width: 101%;
    height: 7px;
    position: absolute;
    bottom: 9px;
    left: 0;
    background-color: #0097A7;
    z-index: -1;
  }
}

a.simple {
  text-decoration: none;
}

a:focus, a:active, a:visited {
  text-decoration: none;
  color: white;
}

p {
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  transition: color .4s ease;
  color: rgba(255, 255, 255, 0.8);
}

p.small-height {
  line-height: 28px;
}

/* core classes */
::-moz-selection {
  background: #0097A7;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background: #0097A7;
  color: white;
}

/* class white: set font color white */
[class~="white"] {
  color: white !important;
}

/* class color: set font with secondary color */
[class~="color"] {
  color: #FF5252 !important;
}

/* class black: set font with black color */
[class~="black"] {
  color: #FF5252 !important;
}

/* class grey: set font with grey color */
[class~="grey"] {
  color: white !important;
}

/* class grey-light: set font with light grey color */
[class~="grey-light"] {
  color: #d1d2d3 !important;
}

/* class grey-dark: set font with dark grey color */
[class~="grey-dark"] {
  color: #6E6E6E !important;
}

/* class uppercase: set font uppercase */
[class~="uppercase"] {
  text-transform: uppercase;
}

/* class uppercase: set font underline */
[class~="underline"] {
  text-decoration: underline;
}

/* class font-100: set font weight 100 */
[class~="font-100"] {
  font-weight: 100 !important;
}

/* class font-300: set font weight 300 */
[class~="font-300"] {
  font-weight: 300 !important;
}

/* class font-400: set font weight 400 */
[class~="font-400"] {
  font-weight: 400 !important;
}

/* class font-600: set font weight 600 */
[class~="font-600"] {
  font-weight: 600 !important;
}

/* class vertical-align: vertical align */
[class="vertical-align"] {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

/* class vertical-align: vertical align over 991px */
@media screen and (min-width: 991px) {
  [class="vertical-align-lg"] {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3;
  }
}

/* box-shadow */
[class~="box-shadow-inset"] {
  position: relative;
}

[class~="box-shadow-inset"]:before {
  box-shadow: inset 0 8px 8px -5px rgba(0, 0, 0, 0.25), inset 0 -8px 8px -5px rgba(0, 0, 0, 0.25);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

[class~="box-shadow-inset"] {
  position: relative;
}

[class~="box-shadow-inset"]:before {
  box-shadow: inset 0 8px 8px -5px rgba(0, 0, 0, 0.25), inset 0 -8px 8px -5px rgba(0, 0, 0, 0.25);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

[class~="box-shadow"] {
  position: relative;
}

[class~="box-shadow"]:before {
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

[class~="simple-shadow"] {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

[class*="vertical-align-outer"] {
  display: table;
}

[class*="vertical-align-inner"] {
  display: table-cell;
  vertical-align: middle;
}

[class*="full-height"] {
  height: 100% !important;
}

[class~="relative"] {
  position: relative;
}

img[class*="normal"] {
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  img[class*="normal"] {
    display: none;
  }
}

img[class*="retina"] {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  img[class*="retina"] {
    display: block;
  }
}

img[class~="center"] {
  margin: 0 auto;
}

/* padding shortcodes */
.padding-top-ultra {
  padding-top: 235px !important;
  padding-bottom: 75px !important;
}

@media screen and (max-width: 480px) {
  .padding-top-ultra {
    padding-top: 180px !important;
  }
}

.padding-lg {
  padding: 75px 0 !important;
}

.padding-top-lg {
  padding-top: 75px !important;
  padding-bottom: 50px !important;
}

.padding-onlytop-lg {
  padding-top: 75px !important;
}

.padding-onlybottom-lg {
  padding-bottom: 75px !important;
}

.padding-md {
  padding: 50px 0 !important;
}

.padding-onlytop-md {
  padding-top: 50px !important;
}

.padding-onlybottom-md {
  padding-bottom: 50px !important;
}

.padding-sm {
  padding: 25px 0 !important;
}

.padding-onlytop-sm {
  padding-top: 25px !important;
}

.padding-onlybottom-sm {
  padding-bottom: 25px !important;
}

.padding-xs {
  padding: 18px 0 !important;
}

.padding-onlytop-xs {
  padding-top: 18px !important;
}

.padding-onlybottom-xs {
  padding-bottom: 18px !important;
}

.padding-null {
  padding: 0 !important;
}

.padding-topbottom-null {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.padding-leftright-null {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-top-null {
  padding-top: 0 !important;
}

.padding-left-null {
  padding-left: 0 !important;
}

.padding-right-null {
  padding-right: 0 !important;
}

.padding-bottom-null {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 1199px) {
  .padding-lg-topbottom-null {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 1199px) {
  .padding-lg-top-null {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 1199px) {
  .padding-lg-bottom-null {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .padding-md-topbottom-null {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .padding-md-leftright-null {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .padding-md-top-null {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .padding-md-bottom-null {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .padding-md-left-null {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .padding-md-right-null {
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .padding-sm-topbottom-null {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .padding-sm-leftright-null {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .padding-sm-top-null {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .padding-sm-bottom-null {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .padding-sm-left-null {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .padding-sm-right-null {
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .padding-xs-leftright-null {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .responsive-padding-md {
    padding-bottom: 50px;
  }
}

/* fixed padding/margin shortcodes */
.padding-bottom {
  padding-bottom: 36px;
}

@media screen and (max-width: 991px) {
  .padding-md-bottom {
    padding-bottom: 50px !important;
  }
}

@media screen and (max-width: 991px) {
  .padding-sm-bottom {
    padding-bottom: 25px !important;
  }
}

@media screen and (max-width: 1199px) {
  .padding-lg-top-small {
    padding-top: 18px !important;
  }
}

.margin-bottom {
  margin-bottom: 36px !important;
}

@media screen and (max-width: 991px) {
  .margin-md-bottom {
    margin-bottom: 36px !important;
  }
}

@media screen and (max-width: 767px) {
  .margin-sm-bottom {
    margin-bottom: 36px !important;
  }
}

.margin-bottom-small {
  margin-bottom: 18px !important;
}

.margin-bottom-extrasmall {
  margin-bottom: 9px !important;
}

/* margin shortcodes */
.margin-null {
  margin: 0 !important;
}

.margin-leftright-null {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.margin-topbottom-null {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margin-top-null {
  margin-top: 0 !important;
}

.margin-bottom-null {
  margin-bottom: 0 !important;
}

.margin-left-null {
  margin-left: 0 !important;
}

.margin-right-null {
  margin-left: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-md-topbottom-null {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .margin-md-leftright-null {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .margin-md-top-null {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .margin-md-bottom-null {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .margin-md-left-null {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .margin-md-right-null {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .margin-sm-topbottom-null {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .margin-sm-leftright-null {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .margin-sm-top-null {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .margin-sm-bottom-null {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .margin-sm-left-null {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .margin-sm-right-null {
    margin-right: 0 !important;
  }
}

/* text-align shortcodes */
@media screen and (max-width: 991px) {
  .text-md-left {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .text-sm-left {
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .text-md-right {
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .text-sm-right {
    text-align: right;
  }
}

@media screen and (max-width: 991px) {
  .text-md-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .text-sm-center {
    text-align: center;
  }
}

/* flex order shortcodes */
@media screen and (max-width: 991px) {
  .flex-order-md {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .flex-column-push-md {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 991px) {
  .flex-column-pull-md {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767px) {
  .flex-order-sm {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .flex-column-push-sm {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 767px) {
  .flex-column-pull-sm {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* other shortcodes */
.z-index {
  position: relative;
  z-index: 10 !important;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-full {
  display: block;
  width: 100%;
  height: auto;
}

.not-visible {
  visibility: hidden;
  max-height: 0px;
}

.visible {
  visibility: visible;
  max-height: auto;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .responsive-md-height-auto {
    height: auto !important;
  }
}

/*-------------------------------------------------*/
/* =  3.Main Setting
/*-------------------------------------------------*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/*-------------------------------------------------*/
/* = Header Banner Logo */
/*-------------------------------------------------*/

header {
  position: absolute;
  z-index: -999;
}

header.transparent {
  background-color: rgba(34, 34, 34, 0) !important;
  transition: background-color 0.5s ease-in-out;
}

header nav.navbar {
  height: auto;
  box-shadow: none;
  border-radius: 5vh;
  background-image: none;
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}

header nav.navbar #logo {
  width: auto;
  padding: 2vh 0 0 5vh;
  position: relative;
  float: left;
}

header nav.navbar #logo a.navbar-brand img {
  width: 4vw;
}

/*-------------------------------------------------*/
/* =  5.Main Settings
/*-------------------------------------------------*/

main,
#width-error,
#height-error {
    display: none;
}

#ratio-error {
    display: block;
}

@media screen and (min-aspect-ratio: 4/6) {
    main {
        display: block;
    }

    #ratio-error,
    #width-error,
    #height-error {
        display: none;
    }
}

@media screen and (max-height: 300px) {

    main,
    #width-error,
    #ratio-error {
        display: none;
    }

    #height-error {
        display: block;
        font-size: 1em;
    }
}

@media screen and (max-width: 300px) {

    main,
    #height-error,
    #ratio-error {
        display: none;
    }

    #width-error {
        display: block;
        font-size: 1em;
    }
}

[class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (min-width: 992px) {
  #page-content {
    margin-bottom: -200px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-resolution: 192dpi) and (min-width: 1199px), only screen and (min-resolution: 2dppx) and (min-width: 1199px) {
  #page-content {
    margin-bottom: -300px;
  }
}

#grid {
  position: fixed;
  width: 100vw;
  padding: 0 10vw;
  z-index: -100;
}

.grid-line {
  height: 0vh;
  border-left: .5px solid rgba(0, 0, 17, 0.725);
}

#grid .grid-line.loaded {
  height: 100vh;
  transition: all 1.2s ease-in-out;
}

#grid .col-3:last-child .grid-line {
  height: 0vh;
  border-left: 0.5px solid rgba(0, 0, 17, 0.725);
  border-right: 0.5px solid rgba(0, 0, 17, 0.725);
}

#grid .col-3:last-child .grid-line.loaded {
  height: 100vh;
  transition: all 1.2s ease-in-out;
}

/*-------------------------------------------------*/
/* = Wrap Social
/*-------------------------------------------------*/

#wrap-social {
  position: fixed;
  width: max-content;
  right: 2vh;
  top: 50%;
  z-index: 10;
}

#wrap-social ul {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: translateX(40%) rotate(-90deg) translateY(50%);
}

#wrap-social ul li {
  display: inline-block;
}

#wrap-social ul li a {
  color: white;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  padding: 0 3vh;
  font-size: 2vh;
  text-decoration: none;
}

/* ------------------------------------------------ */
/* = Share This Button */
/* ------------------------------------------------ */

#share-this {
  position: fixed;
  top: 85vh;
  z-index: 99;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#share-this a {
  color: white;
  font-family: "Inconsolata", monospace;
  font-size: 2vh;
  background: #1F1F1F;
  padding: 1vw;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#share-this a i {
  margin-left: 1vh;
}


/* ------------------------------------------------ */
/* = Share This Banner */
/* ------------------------------------------------ */

#banner-share {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1A1A1A;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#banner-share ul li {
  display: inline-block;
}

#banner-share ul li a {
  width: 20vh;
  height: 20vh;
  background-color: #1F1F1F;
  color: white;
  margin: 2vh;
  line-height: 20vh;
  font-size: 2.5em;
  box-shadow: 0 0 1em #00000090, 0 0 .7em #1f1f1f;
  display: block;
  transition: all 1s ease-in-out;
}

#banner-share ul li a:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

#banner-share .close-button {
  position: fixed;
  top: 85vh;
  left: 2vh;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#banner-share .close-button a {
  color: white;
  font-family: "Inconsolata", monospace;
  font-size: 2.2vh;
  text-decoration: none;
  background: #1F1F1F;
  padding: 1vw;
}

#banner-share .close-button a i {
  margin-left: 1vw;
}

#banner-share.is-open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

/* ------------------------------------------------ */

#about_skills {
  max-width: 75%;
  text-overflow: ellipsis;
}

section {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  section {
    height: auto;
    width: auto;
  }
}

section.auto {
  height: auto;
}

section .circle {
  width: 40px;
  height: 40px;
  border: 8px solid #00BCD4;
  border-radius: 40%;
  z-index: 0;
  opacity: .4;
}

@media screen and (max-width: 1024px) {
  section .circle {
    opacity: .3;
  }
}

@media screen and (max-width: 991px) {
  section .circle {
    opacity: .2;
  }
}

@media screen and (max-width: 600px) {
  section .circle {
    opacity: .1;
  }
}

section .circle.lg {
  width: 60px;
  height: 60px;
  border: 18px solid #0097A7;
}

section .circle.md {
  width: 50px;
  height: 50px;
  border: 14px solid #B2EBF2;
}

@media screen and (min-width: 1351px) and (max-width: 1450px) {
  section#intro {
    min-height: 900px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1366px) {
  section#intro {
    min-height: 500px !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1350px) {
  section#intro {
    min-height: 1050px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (min-resolution: 192dpi) and (min-width: 1024px), only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  section#intro {
    height: auto;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-resolution: 192dpi) and (min-width: 1199px), only screen and (min-resolution: 2dppx) and (min-width: 1199px) {
  section#intro {
    min-height: 130vh;
    margin-top: -80px;
  }
}

section#intro .container {
  position: relative;
  height: 100vh !important;
}

section#intro .container .row {
  position: relative;
}

section#intro .circle.circle1 {
  position: absolute;
  top: 25%;
  left: 20%;
}

section#intro .circle.circle2 {
  position: absolute;
  top: 15%;
  right: 18%;
}

section#intro .circle.circle3 {
  position: absolute;
  bottom: 15%;
  left: 30%;
}

@media screen and (max-width: 600px) {
  section#intro .circle.circle3 {
    left: inherit;
    right: 5%;
  }
}

section#intro .circle.circle4 {
  position: absolute;
  bottom: 30%;
  left: -10%;
}

@media screen and (max-width: 1350px) {
  section#intro .circle.circle4 {
    left: 10%;
  }
}

@media screen and (max-width: 600px) {
  section#intro .circle.circle4 {
    display: none;
  }
}

section#intro .circle.circle5 {
  position: absolute;
  bottom: 40%;
  right: 8%;
}

@media screen and (max-width: 1350px) {
  section#intro .circle.circle5 {
    right: 5%;
  }
}

@media screen and (max-width: 767px) {
  section#intro .circle.circle5 {
    right: 2%;
    bottom: 20%;
  }
}

@media screen and (max-width: 600px) {
  section#intro .circle.circle5 {
    display: none;
  }
}

section#intro .cookie-banner {
  position: absolute;
  top: -20px;
  left: 263px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-resolution: 192dpi) and (min-width: 1199px), only screen and (min-resolution: 2dppx) and (min-width: 1199px) {
  section#intro .cookie-banner {
    top: 55px;
  }
}

@media screen and (max-width: 767px) {
  section#intro .cookie-banner {
    left: 80px;
  }
}

@media screen and (max-width: 480px) {
  section#intro .cookie-banner {
    top: inherit;
    bottom: -30px;
    left: -8px;
  }
}

section#intro .cookie-banner svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: white;
  height: 35px;
  stroke: white;
  stroke-width: 2px;
  float: left;
}

section#intro .cookie-banner .text {
  float: left;
  padding-left: 15px;
}

@media screen and (max-width: 480px) {
  section#intro .cookie-banner .text {
    padding-left: 5px;
  }
}

section#intro .cookie-banner .text p {
  font-size: 12px;
  line-height: 35px;
}

@media screen and (max-width: 480px) {
  section#intro .cookie-banner .text p {
    font-size: 10px;
  }
}

section#intro .text-top {
  position: relative;
  left: 0px;
  top: 100px;
  color: #1F1F1F;
  text-transform: uppercase;
  z-index: -1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-resolution: 192dpi) and (min-width: 1199px), only screen and (min-resolution: 2dppx) and (min-width: 1199px) {
  section#intro .text-top {
    top: 0;
  }
}

@media screen and (max-width: 991px) {
  section#intro .text-top {
    min-height: 600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  section#intro .text-top {
    min-height: 825px;
  }
}

@media screen and (max-width: 480px) {
  section#intro .text-top {
    min-height: 560px;
  }
}

section#intro .text-top h3 {
  font-size: 400px;
  line-height: 400px;
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  section#intro .text-top h3 {
    font-size: 350px;
    line-height: 350px;
  }
}

@media screen and (max-width: 991px) {
  section#intro .text-top h3 {
    display: none;
  }
}

section#intro .text-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #1F1F1F;
  text-transform: uppercase;
  z-index: -1;
}

section#intro .text-bottom h3 {
  font-size: 400px;
  font-weight: 700;
}

section#intro .text-top, section#intro .text-bottom {
  transition: 2s cubic-bezier(0.99, 0.44, 0, 0.95) color;
}

section#intro .text-top.hey, section#intro .text-bottom.hey {
  color: #1A1A1A;
  transition: 2s cubic-bezier(0.99, 0.44, 0, 0.95) color;
}

section#intro .wrap-description {
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50%;
}

@media screen and (max-width: 991px) {
  section#intro .wrap-description {
    bottom: -75px;
    top: inherit;
    left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  section#intro .wrap-description {
    bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  section#intro .wrap-description {
    bottom: -20px;
  }
}

@media screen and (max-width: 430px) {
  section#intro .wrap-description {
    bottom: 0px;
  }
}

@media screen and (max-width: 380px) {
  section#intro .wrap-description {
    bottom: 25px;
  }
}

section#intro .wrap-description p {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 991px) {
  section#intro .wrap-description p {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

section#intro .wrap-content {
  position: absolute;
  text-align: right;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1199px), only screen and (min-resolution: 192dpi) and (min-width: 1199px), only screen and (min-resolution: 2dppx) and (min-width: 1199px) {
  section#intro .wrap-content {
    top: 340px;
  }
}

@media screen and (max-width: 991px) {
  section#intro .wrap-content {
    left: -10px;
  }
}

@media screen and (max-width: 480px) {
  section#intro .wrap-content {
    left: -4px;
  }
}

section#intro .wrap-content h1 {
  font-size: 165px;
  line-height: 170px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
}

@media screen and (max-width: 991px) {
  section#intro .wrap-content h1 {
    font-size: 145px;
    line-height: 160px;
  }
}

@media screen and (max-width: 600px) {
  section#intro .wrap-content h1 {
    font-size: 120px;
    line-height: 135px;
  }
}

@media screen and (max-width: 600px) {
  section#intro .wrap-content h1 {
    font-size: 100px;
    line-height: 115px;
  }
}

@media screen and (max-width: 430px) {
  section#intro .wrap-content h1 {
    font-size: 86px;
    line-height: 93px;
  }
}

@media screen and (max-width: 380px) {
  section#intro .wrap-content h1 {
    font-size: 71px;
    line-height: 80px;
  }
}

@media screen and (max-width: 767px) {
  section#intro .wrap-content h1.small {
    font-size: 110px;
    line-height: 125px;
  }
}

@media screen and (max-width: 600px) {
  section#intro .wrap-content h1.small {
    font-size: 80px;
    line-height: 95px;
  }
}

@media screen and (max-width: 480px) {
  section#intro .wrap-content h1.small {
    font-size: 48px;
    line-height: 60px;
  }
}

section#about {
  padding-top: 100px;
}

@media screen and (min-width: 1366px) and (max-width: 1366px) {
  section#about {
    padding-top: 0px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (min-resolution: 192dpi) and (min-width: 1024px), only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  section#about {
    min-height: 1000px;
  }
}

@media screen and (max-width: 991px) {
  section#about {
    padding-top: 150px;
  }
}

@media screen and (max-width: 767px) {
  section#about {
    padding-top: 200px;
  }
}

@media screen and (max-width: 480px) {
  section#about {
    padding-top: 80px;
  }
}

section#about .container {
  position: relative;
  height: 100%;
}

section#about .circle.circle1 {
  position: absolute;
  top: 35%;
  left: 35%;
}

@media screen and (max-width: 480px) {
  section#about .circle.circle1 {
    left: inherit;
    right:10%;
  }
}

section#about .circle.circle2 {
  position: absolute;
  top: 10%;
  right: 35%;
}


section#about .circle.circle3 {
  position: absolute;
  bottom: 10%;
  left: 15%;
}

section#about .circle.circle4 {
  position: absolute;
  bottom: 10%;
  right: 15%;
}

section#about .circle.circle5 {
  position: absolute;
  top: 40%;
  right: 18%;
}

section#about .wrap-services {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10%;
  background-color: #1F1F1F;
  padding: 46px;
  min-width: 25%;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3), 0 0 12px rgba(0, 0, 0, 0.22);
  z-index: 1;
  text-align: right;
}

@media screen and (max-width: 991px) {
  section#about .wrap-services {
    display: none;
  }
}

section#about .wrap-services ul li {
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  position: relative;
  margin-bottom: 15px;
}

section#about .wrap-services ul li:last-child {
  margin-bottom: 0;
}

section#about .wrap-services ul li i {
  margin-right: 15px;
}

section#about .wrap-services ul li span {
  display: inline-block;
  position: relative;
  z-index: 2;
}

section#about .wrap-services ul li span:after {
  content: '';
  width: 101%;
  height: 7px;
  position: absolute;
  bottom: 9px;
  left: 0;
  background-color: #0097A7;
  z-index: -1;
}

section#works {
  padding-top: 150px;
}

@media screen and (max-width: 991px) {
  section#works {
    padding-top: 250px;
  }
}

section#works .container {
  position: relative;
  height: 100%;
}

section#works .circle.circle1 {
  position: absolute;
  top: 250px;
  right: -50px;
}

@media screen and (max-width: 1350px) {
  section#works .circle.circle1 {
    right: 50px;
  }
}

section#works .circle.circle2 {
  position: absolute;
  top: 850px;
  left: 450px;
}

@media screen and (max-width: 600px) {
  section#works .circle.circle2 {
    right: 25px;
    left: inherit;
  }
}

section#works .circle.circle3 {
  position: absolute;
  top: 550px;
  left: -25px;
}

@media screen and (max-width: 1350px) {
  section#works .circle.circle3 {
    left: 50px;
  }
}

section#works .row {
  position: relative;
}

section#works .wrap-title {
  margin-bottom: 5%;
  position: relative;
  z-index: 1;
  width: 50%;
}

@media screen and (max-width: 991px) {
  section#works .wrap-title {
    margin-bottom: 10%;
  }
}

section#works .wrap-title h3 {
  margin-bottom: 5%;
}


section#works img {
  max-width: 80%;
  max-height: 700px;
  height: auto;
  display: block;
  opacity: 0.5;
  position: relative;
  z-index: 4;
  transition: all .4s ease;
  margin: 0 auto;
}

section#works img:hover {
  transition: all .4s ease;
}

@media screen and (max-width: 991px) {
  section#works p {
    padding-top: 50px;
  }
}

@media screen and (max-width: 991px) {
  section#works .col-md-offset-2 {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1024px) {
  section#awards {
    padding-top: 150px;
  }
}

@media screen and (max-width: 991px) {
  section#awards {
    padding-top: 100px;
  }
}

section#awards .container {
  position: relative;
  height: 100%;
}

section#awards .circle.circle1 {
  position: absolute;
  top: 0px;
  right: 200px;
}

section#awards .circle.circle2 {
  position: absolute;
  top: 550px;
  left: 275px;
}

section#awards .circle.circle2 {
  position: absolute;
  top: 22%;
  right: 35%;
}

section#awards ul li {
  font-size: 30px;
  line-height: 30px;
  font-family: "Product Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

section#awards ul li span {
  font-size: 22px;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 991px) {
  footer {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

footer .container {
  position: relative;
}

@media screen and (max-width: 480px) {
  footer h2 {
    font-size: 46px;
  }
}

footer .text-top {
  position: absolute;
  right: 0;
  top: -150px;
  color: #1F1F1F;
  text-transform: uppercase;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  footer .text-top {
    display: none;
  }
}

footer .text-top h3 {
  font-size: 400px;
  line-height: 400px;
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  footer .text-top h3 {
    font-size: 350px;
    line-height: 350px;
  }
}

@media screen and (max-width: 991px) {
  footer .text-top h3 {
    display: none;
  }
}

footer .wrap-social ul li {
  display: inline-block;
}

footer .wrap-social ul li a {
  color: white;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  margin-right: 36px;
  text-decoration: none;
}

/* ------------------------------------------------ */
/* = Loader */
/* ------------------------------------------------ */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #FF5252;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}

/* Main Loader (Reveal First) */

#myloader .reveal-first {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1A1A1A;
  z-index: 999;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#myloader .reveal-first.is-active {
  -webkit-transform: translateY(101%);
  -ms-transform: translateY(101%);
  transform: translateY(101%);
}

#myloader .reveal-first .text-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 50vh;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#myloader .reveal-first .text-wrap h3 {
  font-size: 10vh;
  line-height: 10vh;
  font-weight: 700;
  color: #FF5252;
}

#myloader .reveal-first .text-wrap img {
  width: 20vh;
  margin: 0 auto;
  position: relative;
}

/*-------------------------------------------------*/
/* =  16.Magnific popup
/*-------------------------------------------------*/
button.mfp-close {
  background-color: #006172 !important;
  color: white;
  transition: background-color .4s ease;
}

button.mfp-close:hover {
  background-color: #000 !important;
  transition: background-color .4s ease;
}

/*-------------------------------------------------*/
/* =  17.OWL
/*-------------------------------------------------*/
.owl-theme .owl-controls {
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
  transition: opacity .4s ease;
}

.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: transparent;
  border: 1px solid #0097A7;
  border-radius: 50%;
  opacity: 1;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #0097A7;
  opacity: 1;
}

/*-------------------------------------------------*/
/* =  18.Animations
/*-------------------------------------------------*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


#credits {
  margin: 1rem 2rem;
  font-size: 16px;
  color: #ffffff;
  z-index: 1000;
}








.card-columns .card {
  margin-bottom: 1rem;
  -moz-column-count: 1;
       column-count: 1;
  background-color: #1C1C1C;
  color: whitesmoke;
  transition: all .4s ease;
}

.card-title {
  font-size: 24px;
}

.card-text {
  font-size: 18px;
}

.card-columns .card:hover {
  opacity: 0.6;
  transition: all .2s ease;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 1;
         column-count: 1;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    orphans: 0;
    widows: 0;
  }
  .card-columns .card {
    display: inline-block;
    width: 70%;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    orphans: 0;
    widows: 0;
  }
  .card-columns .card {
    display: inline-block;
    width: 80%;
  }
}

@media (min-width: 992px) {
  .card-columns {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    orphans: 0;
    widows: 0;
  }
  .card-columns .card {
    display: inline-block;
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 95%;
  }
}


#loom-companion-mv3 {
  display: none;
}