<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Webcam Stream</title>

    <style>
      #videoElement {
      	width: 500px;
      	height: 375px;
      	background-color: #666;
      }
    </style>
  </head>

  <body>
    <img src="/webcam_feed" class="mt-5 mx-auto d-block" height="500px" width="500px" title="Source">
    <div id="container">
    	<video autoplay="true" id="videoElement" allow="geoloaction" hidden></video>
      <canvas id="canvasOutput" hidden></canvas>

      <div class="form-group" hidden>
        <input id="txt" class="form-control" type="text" value="caption">
        <button id="button" class="form-control" type="button" value="POST" onclick="click()">Start</button>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
      "use strict"
      const video = document.getElementById('videoElement');
      const canvas = document.getElementById('canvasOutput');
      const context = canvas.getContext("2d");
      const button = document.getElementById('button');
      const constrains = {audio : false, video : true};
      const results = document.getElementById('txt');

      function post() {
        if (button.innerText == "Stop"){
          context.drawImage(video, 0, 0, canvas.width, canvas.height);
          $.post('/io/',{
            label : "video capture",
            content : canvas.toDataURL("image/png")
          },
          function(data, status){
            results.value = status + ":" + data;
          });
          setTimeout(() =>{post();}, 500);
        } else{
          return true
        }
      };

      function click(){
        if (button.value == "POST") {
          button.value = "SEND";
          button.innerText = "Stop";
          post();
        } else {
          button.innerText = "Start";
          button.value = "POST";
        }
      };
      click()
      navigator.mediaDevices.getUserMedia(constrains)
      .then(function(mediaStream) {
        video.srcObject = mediaStream;
      });


      // function ajaxsend() {
      //   var frame = capture(video, 1)
      //   var data = frame.toDataURL("image/png");
      //   // console.log(data);
      //   // console.log(JSON.stringify(data));
      //   $.ajax({
      //     type: "POST",
      //     url: '/io/',
      //     data: {
      //       'videoURL': JSON.stringify(data)
      //     },
      //     datatype: 'json'
      //   });
      //   fetch(`/io/`)
      //   .then(response => response.text())
      //   .then(text => {
      //     // console.log(text);
      //     document.querySelector('#image').src = text;
      //   });
      //   setTimeout(() =>{ajaxsend();}, 200);
      // }

    </script>
  </body>
</html>
