absl-py
appdirs
apt-clone
apturl
argon2-cffi
asgiref
astroid
astunparse
async-generator
attrs
autopep8
backcall
bcrypt
beautifulsoup4
bleach
blinker
Brlapi
bs4
cachetools
cattrs
certifi
cffi
chardet
chrome-gnome-shell
click
cmake
colorama
command-not-found
cryptography
cupshelpers
cvlib
cycler
dbus-python
decorator
defer
defusedxml
distlib
distro
distro-info
Django
django-allauth
django-livereload-server
django-livesync
dlib
dnspython
duplicity
ecdsa
face-recognition
face-recognition-models
fasteners
filelock
future
futures
gast
google-api-python-client
google-assistant-grpc
google-assistant-sdk
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
gunicorn
h5py
httplib2
idna
imageio
importlib-metadata
imutils
input
inputs
ipykernel
ipython
ipython-genutils
isort
jedi
jeepney
jellyfish
Jinja2
joblib
jsonschema
jupyter-client
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab-pygments
jupyterthemes
Keras
Keras-Preprocessing
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
lesscpy
lib50
lockfile
louis
lxml
macaroonbakery
Mako
Markdown
markdown2
MarkupSafe
matplotlib
mccabe
mistune
monotonic
more-itertools
MouseInfo
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
numpy
oauth2client
oauthlib
olefile
opencv-contrib-python
opencv-python
openvino
opt-einsum
packaging
PAM
pandocfilters
paramiko
parso
pathlib2
pathtools
pexpect
pickleshare
Pillow
ply
progressbar
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
PyAutoGUI
pycairo
pycodestyle
pycparser
pycrypto
pycryptodomex
pycups
PyDrive
PyGetWindow
Pygments
PyGObject
PyICU
PyJWT
pylint
pymacaroons
PyMsgBox
PyNaCl
pyOpenSSL
pyparsing
pyperclip
PyRect
pyRFC3339
pyrsistent
PyScreeze
python-apt
python-dateutil
python-debian
python-facebook-api
python3-openid
python3-xlib
PyTweening
pytz
pyxdg
PyYAML
pyzbar
pyzmq
reportlab
requests
requests-oauthlib
requests-unixsocket
rsa
scikit-learn
scipy
screen-resolution-extra
SecretStorage
selenium
Send2Trash
simplejson
six
sklearn
sounddevice
soupsieve
SQLAlchemy
sqlparse
submit50
systemd-python
tenacity
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
toml
tornado
traitlets
typing
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
uritemplate
urllib3
usb-creator
virtualenv
wadllib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
wrapt
xkit
zipp
