Django
django-allauth
django-livereload-server
django-livesync
dlib
google-api-python-client
google-assistant-grpc
google-assistant-sdk
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
gunicorn
h5py
httplib2
importlib-metadata
imutils
Jinja2
Keras
Keras-Preprocessing
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
lesscpy
lib50
lockfile
louis
lxml
macaroonbakery
Mako
Markdown
markdown2
MarkupSafe
matplotlib
mccabe
mistune
monotonic
more-itertools
MouseInfo
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
numpy
oauth2client
oauthlib
olefile
opencv-contrib-python
opencv-python
openvino
opt-einsum
packaging
PAM
pandocfilters
paramiko
parso
pathlib2
pathtools
pexpect
pickleshare
Pillow
ply
progressbar
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
PyAutoGUI
pycairo
pycodestyle
pycparser
pycrypto
pycryptodomex
pycups
PyDrive
PyGetWindow
Pygments
PyGObject
PyICU
PyJWT
pylint
pymacaroons
PyMsgBox
PyNaCl
pyOpenSSL
pyparsing
pyperclip
PyRect
pyRFC3339
pyrsistent
PyScreeze
python-apt
python-dateutil
python-debian
python-facebook-api
python3-openid
python3-xlib
PyTweening
pytz
pyxdg
PyYAML
pyzbar
pyzmq
reportlab
requests
requests-oauthlib
requests-unixsocket
rsa
scikit-learn
scipy
screen-resolution-extra
SecretStorage
selenium
Send2Trash
simplejson
six
sklearn
sounddevice
soupsieve
SQLAlchemy
sqlparse
submit50
systemd-python
tenacity
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
toml
tornado
traitlets
typing
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
uritemplate
urllib3
usb-creator
virtualenv
wadllib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
wrapt
xkit
zipp
