{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
      <meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=yes">
      <meta name="description" content="eBay like E-Commerce Auctions Site designed using Django Framework">
      <meta name="author" content="Hariharan S">
      <meta name="abstract" content="This is a eBay like E-Commerce Auction site that will allow user to post auction listing, place bids on listings, comment on those listings and add listings to a 'watchlist.'">
      <meta name="keywords" content="Hariharan, Auctions, E-Commerce, AIGAMER, pythonanywhere">
      <meta name=”robots” content="index, follow">
      <meta name=”googlebot” content="index, follow">
      <title>{% block title %}Auctions{% endblock %}</title>
      <link href="/static/auctions/styles.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="icon" href="https://i.kisscc0.com/20190403/he/kisscc0-computer-icons-gavel-bidding-auction-art-mono-auction-5ca442e2505ba1.7977922815542688983292.png">
      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, initial-scale=0.5">
      <style>
          .Profile {
                top: 5%;
                right: 3%;
                position: absolute;
                text-align: right;
              }
      </style>
    </head>
    <body>
      <div class="bodynav">
        <nav class="navbar navbar-light">
          <a class="navbar-brand" href="{% url 'auctions:index' %}">
            <img src="https://i.kisscc0.com/20190403/he/kisscc0-computer-icons-gavel-bidding-auction-art-mono-auction-5ca442e2505ba1.7977922815542688983292.png" width="45" height="45" class="d-inline-block align-top" alt="Auctions">
            <span class="h1">Auctions</span>
          </a>
        </nav>
        <div class="Profile">
            {% if user.is_authenticated %}
                <a href="{% url 'auctions:Profile' user.id %}" style="text-decoration: None;color: black">
                  <h3 class="text-capitalize"><strong>{{ user.username }}</strong>.</h3>
                </a>
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {% block navindex %}{% endblock %}" href="{% url 'auctions:index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block navcat %}{% endblock %}" href="{% url 'auctions:Categories' %}">Categories</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% block navwish %}{% endblock %}" href="{% url 'auctions:Wishs' %}">WishList <span class="badge badge-{% block navwishl %}secondary{% endblock %}">{{ Wish }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block navcl %}{% endblock %}" href="{% url 'auctions:createlisting' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block navlo %}{% endblock %}" href="{% url 'auctions:logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% block navli %}{% endblock %}" href="{% url 'auctions:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block navreg %}{% endblock %}" href="{% url 'auctions:register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr><br>
      </div>
      <div class="bodyblock">
        {% block body %}
        {% endblock %}
      </div>
    </body>
</html>
