{% extends "ecart/base.html" %}
{% load static %}

{% block title %}
  {% if category %}
    {{ category.name }}
  {% else %}
    Products
  {% endif %}
{% endblock %}

{% block content %}
  <div style="height:100%">
    <h3>Categories</h3>
    <div class="col-3">
      <div class="nav flex-column nav-pills fixed-left" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="{% url 'ecart:product_list' %}">All</a>
        {% for c in categories %}
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% endfor %}
      </div>
    </div>
    <div id="main" class="product-list col-9">
      <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
      {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"></a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        ${{ product.price }}
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
