{% extends "blog/base.html" %}

{% block title %}
  Share a post
{% endblock %}

{% block content %}
  {% if sent %}
    <h1>E-mail Successfully sent</h1>
    <p>"{{ post.title }}" was Successfully sent to {{ sent }}.</p>
  {% else %}
    <h1>Share "{{ post.title }}" by email</h1>
    <form action="." method="post">
      {% csrf_token %}
      <div class="form-group row">
        <label for="name" class="col-sm-2 h4">Name</label>
        <input class="form-control col-sm-8" type="text" id="name"name="name" placeholder="Enter Your Name *" required>
      </div>
      <div class="form-group row">
        <label for="from" class="col-sm-2 h4">From</label>
        <input class="form-control col-sm-8" type="email" id="from" name="from" placeholder="From Mail Id *" required>
      </div>
      <div class="form-group row">
        <label for="to" class="col-sm-2 h4">To</label>
        <input class="form-control col-sm-8" type="email" name="to" placeholder="To Mail Id *" required>
      </div>
      <div class="form-group row">
        <label for="Comment" class="col-sm-2 h4">Comments</label>
        <textarea class="form-control col-sm-8" id="comment" name="comments" rows="8" placeholder="Enter your comment "></textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Send e-mail">
    </form>
  {% endif %}
{% endblock%}
