{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FDRP6R5GVY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FDRP6R5GVY');
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="BLCBxcfjPy-aTrfDc5Sm9Yi5SxOtWqu9ZReIp_JhG5Q" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Hariharan S - DevOps Engineer | Portfolio</title>

        <meta name="theme-color" content="#000">
        <meta name="description" content=" Hariharan Sundar - DevOps Engineer at Zoho | Portfolio ">
        <meta name="abstract" content="Student at Hindustan University. Python Programmer, Django Web Developer, AI Enthusiast and Beginner in Machine Learning">
        <meta name="keywords" content="Hariharan, Portfolio, AIGAMER, Hari, Haran, S, Sundar, Zoho, Cyces, Kavisoftek, Hindustan,
            Python, Machine Learning, Django, HITS, Verzeo, Chennai, Hariharan S, Hariharan Sundar, Patrick David, Hariharan Sundar - Python Developer,
            Hariharan S - DevOps Engineer, DevOps Engineer, Python Developer"
        >

        <meta name="robots" content="index,follow,noodp">
        <!-- All Search Engines -->
        <meta name="googlebot" content="index,follow">
        <!-- Google Specific -->
        <!-- Google Tag Manager -->
        <script>
            (
                function(w,d,s,l,i) {
                    w[l]=w[l]||[];
                    w[l].push({
                        'gtm.start': new Date().getTime(),
                        event:'gtm.js'
                    });
                    var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
                    j.async=true;
                    j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                    f.parentNode.insertBefore(j,f);
                }
            )
            (
                window,document,'script','dataLayer','GTM-TPQXRF9Z'
            );
        </script>
        <!-- End Google Tag Manager -->

        <!-- Disable automatic detection and formatting of possible phone numbers -->
        <meta name="format-detection" content="telephone=no">

        <link rel="icon shortcut" href="/static/home/v2/assets/img/favicon-16.png" sizes="16x16" type="image/png">
        
        <meta itemprop="name" content="Hariharan Sundar">
        <meta itemprop="description" content="Hariharan Sundar - DevOps Engineer at Zoho | Portfolio ">
        <meta name="fediverse:creator" content="@aigamer@mastodon.social">

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <!-- Custom css -->
        <link rel="stylesheet" href="/static/home/v2/assets/css/style.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="/static/home/v2/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/home/v2/assets/css/ionicons.min.css">

        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Organization",
              "url": "http://aigamer.dev/",
              "logo": "https://miro.medium.com/fit/c/680/680/1*BfWHdedqBhDbrqwrj4hkUg.png"
            }
        </script>

        <script type="application/ld+json">
            {
                "@context" : "https://schema.org/",
                "@type": "EmployerAggregateRating",
                "itemReviewed": {
                    "@type": "Organization",
                    "name" : "Hariharan S",
                    "sameAs" : "http://aigamer.dev/"
                },
                "ratingValue": "99",
                "bestRating": "100",
                "worstRating": "92",
                "ratingCount" : "509878991"
            }
        </script>

        <link rel="me" href="https://mastodon.social/@aigamer"/>
    </head>

    <body itemscope="" itemtype="http://schema.org/WebPage" class="pace-done stop-scrolling" data-new-gr-c-s-check-loaded="14.1170.0" data-gr-ext-installed="">

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPQXRF9Z" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <div id="height-error" class="position-absolute top-50 start-50 translate-middle">
            <h2 class="text-center">
                Your screen is too short for this content. Please use a device with a larger screen height.
                <br /><br />
                If you are viewing this horizontally, please rotate your device to portrait mode.
            </h2>
        </div>
        <div id="width-error" class="position-absolute top-50 start-50 translate-middle text-center">
            <h3>Your screen is too short for this content. Please use a device with a wider screen width.</h3>
        </div>

        <div id="ratio-error" class="position-absolute top-50 start-50 translate-middle text-center">
            <h3>
                Your screen is too narrow for this content. Please use a device with a larger screen ratio
                <br /><br /><pre>OR</pre><br />
                Try Roating into different axis
            </h3>
        </div>

        <!--  Loader  -->
        <div id="myloader">
            <div class="pace pace-active">
                <div class="pace-progress" data-progress-text="0" data-progress="10" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="pace-progress-inner"></div>
                </div>
                <div class="pace-activity reveal-second"></div>
            </div>
            <div class="reveal-first is-inactive" style="display: block;">
                <div class="text-wrap">
                    <img src="/static/home/v2/assets/img/logo_bw.png" class="normal" alt="AIGamer" title="AIGamer" alt="Logo" />
                </div>
            </div>
        </div>

        <main>
            <!-- Grid Lines -->
            <div id="grid" class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="grid-line"></div>
                    </div>
                    <div class="col-3">
                        <div class="grid-line"></div>
                    </div>
                    <div class="col-3">
                        <div class="grid-line"></div>
                    </div>
                    <div class="col-3">
                        <div class="grid-line"></div>
                    </div>
                </div>
            </div>

            <div id="wrap-social">
                <ul>
                    <li><a href="mailto:hariharankvasn@gmail.com">Mail</a></li>
                    <li><a href="https://kaggle.com/aigamer" target="_blank">Kaggle</a></li>
                    <li><a href="https://www.github.com/AIGamer28100" target="_blank">GitHub</a></li>
                    <li><a href="https://www.twitter.com/AIGAMER2800" target="_blank">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/hariharan-s-aigamer/" target="_blank">Linkedin</a></li>
                    <li><a href="https://aigamer.medium.com/", target="_blank">Medium</a></li>
                </ul>
            </div>
            <div id="share-this">
                <a href="javascript:void(0)">Share with<i class="icon ion-heart"></i></a>
            </div>

            <div id="banner-share">
                <div class="position-absolute top-50 start-50 translate-middle text-center">
                    <ul>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://aigamer.dev" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https://aigamer.dev/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/intent/tweet?text=Checkout+Hariharan's+Portfolio+https://aigamer.dev/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="close-button">
                    <a href="javascript:void(0)">Close<i class="icon ion-android-close"></i></a>
                </div>
            </div>
            
            <!--  Main Wrap  -->
            <div id="main-wrap" class="full-width">
                <!--  Header & Menu  -->
                <header itemscope="" itemtype="http://schema.org/WPHeader" id="header" class="full-width transparent">
                    <nav class="navbar navbar-default" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                        <!--  Classic menu, responsive menu classic  -->
                        <div id="logo">
                            <a class="navbar-brand" href="http://aigamer.dev/">
                                <img src="/static/home/v2/assets/img/logo_bw.png" class="normal" alt="logo">
                            </a>
                        </div>
                    </nav>
                </header>
                <!--  END Header & Menu  -->

                <!--  Page Content, class footer-fixed if the footer is fixed  -->
                <div id="page-content" class="header-static">

                    <!-- Intro Section -->
                    <section id="intro" class="auto">
                        <div class="container">
                            <div class="row">
                                <div class="text-top">
                                    <h3>DEV<br>OPS</h3>
                                </div>
                                <div class="circle circle1 moove moove-mobile" data-rellax-speed="2" style="transform: translate3d(0px, 0px, 0px);"></div>
                                <div class="circle circle2 moove moove-mobile" data-rellax-speed="4" style="transform: translate3d(0px, 0px, 0px);"></div>
                                <div class="circle circle3 md moove moove-mobile" data-rellax-speed="-2" style="transform: translate3d(0px, 0px, 0px);"></div>
                                <div class="circle circle4 lg moove moove-mobile" data-rellax-speed="-4" style="transform: translate3d(0px, 0px, 0px);"></div>
                                <div class="circle circle5 lg moove moove-mobile" data-rellax-speed="3" style="transform: translate3d(0px, 0px, 0px);"></div>
                                <div class="wrap-description">
                                    <p class="small-height">DevOps Engineer by Day<br>Coding Enthusiast by Night<br>Based in India</p>
                                </div>
                                <div class="wrap-content">
                                    <h1>Hello<span class="color">.</span><br>I am<br>Hariharan</h1>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- About Section -->
                    <section id="about" class="auto">
                        <div class="wrap-services moove" data-rellax-speed="12" style="transform: translate3d(0px, 0px, 0px);">
                            <h4>Skills</h4>
                            <ul>
                                <li><span>Front-End Dev</span></li>
                                <li><span>Back-End Dev</span></li>
                                <li><span>DevOps Engineer</span></li>
                            </ul>
                        </div>
                        <div class="container">
                            <div class="circle circle1 md moove moove-mobile" data-rellax-speed="1" style="transform: translate3d(0px, 0px, 0px);"></div>
                            <div class="circle circle2 lg moove moove-mobile" data-rellax-speed="2" style="transform: translate3d(0px, 0px, 0px);"></div>
                            <div class="row">
                                <div class="col-md-10 moove" data-rellax-speed="6" style="transform: translate3d(0px, 0px, 0px);">
                                    <h2>Code<br>24/7<span class="color">:</span></h2>
                                    <p id="about_skills" data-animation="reveal">DevOps Engineer by Day at Zoho Corp, Coding Enthusiast by Night<br>
                                        I craft code to simplify and smarten things up, always learning and evolving.<br>
                                        When I'm not coding, you'll find me racing towards the horizon or swapping my keyboard for a paintbrush.<br>
                                        Join me on this coding journey where we chase bugs by day and dreams by night.
                                    </p>
                                </div>
                            </div>
                            <div class="circle circle3 lg moove moove-mobile" data-rellax-speed="8" style="transform: translate3d(0px, 0px, 0px);"></div>
                            <div class="circle circle4 md moove moove-mobile" data-rellax-speed="6" style="transform: translate3d(0px, 0px, 0px);"></div>
                            <div class="row">
                                <div class="col-md-10 moove about_background" data-rellax-speed="3" style="transform: translate3d(0px, 0px, 0px);">
                                    <h3><span class="color">E</span>ducation</h3>
                                    <p id="about_education">
                                        - Bachelor's of Technology in Computer Science and Engineering at <a href="https://hindustanuniv.ac.in/"><span class="color">Hindustan University</span></a> from 2018 to 2022<br>
                                        - Higher Secondary at <a href="https://chennaiashoknagar.kvs.ac.in/"><span class="color">Kendriya Vidyalaya</span></a> from 2016 to 2018 with 66.3% score<br>
                                        - Secondary at <a href="https://chennaiashoknagar.kvs.ac.in/"><span class="color">Kendriya Vidyalaya</span></a> from 2006 to 2016 with CGPA of 8.0<br>
                                    </p>
                                </div>
                                <div class="col-md-10 moove about_background" data-rellax-speed="3" style="transform: translate3d(0px, 0px, 0px);">
                                    <h3><span class="color">E</span>xperience</h3>
                                    <p id="about_experience">
                                        - Member Technical Staff at <a href="https://www.zohocorp.com/"><span class="color">Zoho Corp</span></a> since Nov 2022<br>
                                        - Backend Developer at <a href="https://kavisoftek.in/"><span class="color">KaviSoftek</span></a> from August 2022 to October 2022<br>
                                        - Junior Backend Developer at <a href="https://cyces.co/"><span class="color">Cyces Innovations Lab LLP</span></a> from February 2022 to July 2022<br>
                                        - Internship at <a href="https://cyces.co/"><span class="color">Cyces Innovations Lab LLP</span></a> from August 2021 to January 2022<br>
                                        - Virtual Internship at <a href="https://www.verzeo.com/"><span class="color">Verzo</span></a> from February 2021 to March 2021<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Works -->
                    <section id="works" class="auto">
                        <div class="container moove moove-mobile" data-rellax-speed="4" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="circle circle1 moove moove-mobile" data-rellax-speed="2" style="transform: translate3d(0px, 0px, 0px);"></div>
                            <div class="circle circle2 sm moove moove-mobile" data-rellax-speed="2" style="transform: translate3d(300%, 0px, 0px);"></div>
                            <div class="circle circle3 lg moove moove-mobile" data-rellax-speed="4" style="transform: translate3d(0px, 0px, 0px);"></div>
                            <div class="row">
                                <div class="wrap-title">
                                    <h3>Featured<br>Works<span class="color">:</span></h3>
                                </div>
                                <div class="col-md-6" style="transform: translate3d(0px, 0px, 0px);">
                                    <p data-animation="reveal">I'm delighted to share my journey of nearly 2 years as a Backend Developer.
                                        Proficient in Python, Django and a little bit in Java. 
                                        I specialize in API development, DevOps, and continuous integration.
                                        My expertise spans Git, FastAPI, Python Automations, Linux and etc. where I thrive in crafting innovative solutions and fostering collaboration within the tech community.</p>
                                    <pre data-animation="reveal">Use the below provided dummy accounts for testing 

    <span class="color">Username : </span> Demo
    <span class="color">Email ID : </span> demo@123
    <span class="color">Password : </span> demo@123
                                    </pre>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-columns">
                                    <a href="https://aigamer28100.github.io/Movie-Lens-Dataset-Visualization-and-Prediction/" class="card mx-1 project-cards" target="_blank" style="text-decoration:none" >
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/movie.png" alt="Movie-Lens-Dataset-Visualization-and-Prediction">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">Movie Lens Dataset</h4>
                                        </div>
                                    </a>

                                    <a href="https://aigamer28100.github.io/Google-Search/" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/google.png" alt="Google Search">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">Google Search</h4>
                                        </div>
                                    </a>
                
                                    <a href="{ url 'encyclopedia:index' }" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/wiki.png" alt="Encyclopedia">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">The Encyclopedia</h4>
                                        </div>
                                    </a>
                
                
                                    <a href="{ url 'auctions:index' }" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/aution.png" alt="Auctions">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">E-Commerce</h4>
                                        </div>
                                    </a>

                                    <a href="{ url 'blog:post_list' }" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/blog.png" alt="Blog">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">Blog Posts</h4>
                                        </div>
                                    </a>

                                    <a href="https://github.com/AIGamer28100/DPusingIot" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/SDES.gif" alt="SDES">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">SDES</h4>
                                        </div>
                                    </a>

                                    <a href="{ url 'mail:index' }" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/mail.png" alt="Hmail">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">Hmail</h4>
                                        </div>
                                    </a>

                                    <a href="https://github.com/AIGamer28100/Verzeo-Internship" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/verzeo.png" alt="Verzeo">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">Verzeo Internship Project</h4>
                                        </div>
                                    </a>
                
                                    <a href="https://github.com/AIGamer28100/Design-Project-II" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/ocr.png" alt="HTR">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">OCR</h4>
                                        </div>
                                    </a>
                
                                    <a href="{ url 'todo:index' }" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/todo.png" alt="To-Do">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">To-Do App</h4>
                                        </div>
                                    </a>
                
                                    <a href="https://github.com/HariHaran-S-HITS/E-YOLO" class="card mx-1 project-cards" target="_blank" style="text-decoration:none">
                                        <img class="card-img-top p-3 lazyload" data-src="/static/home/v2/assets/img/yolo.png" alt="E-YOLO">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">E-YOLO</h4>
                                            <div class="project-hover text-center">
                                                <div class="project-hover-content">
                                                    <span class="h5"><b>BETA</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!--  END Page Content, class footer-fixed if the footer is fixed  -->

                    <!--  Footer. Class fixed for fixed footer  -->
                    <footer itemscope="" itemtype="http://schema.org/WPFooter" class="auto">
                        <div class="container">
                            <div class="text-top">
                                <h3>Hire me</h3>
                            </div>
                            <h2>I'm always interested to talk about cool stuff <span class="color"><a href="mailto:hariharankvasn@gmail.com" class="color">Let's talk.</a></span></h2>
                            <div class="wrap-social">
                                <ul>
                                    <li><a href="mailto:hariharankvasn@gmail.com">Mail</a></li>
                                    <li><a href="https://kaggle.com/aigamer" target="_blank">Kaggle</a></li>
                                    <li><a href="https://www.github.com/AIGamer28100">GitHub</a></li>
                                    <li><a href="https://www.twitter.com/AIGAMER2800" target="_blank">Twitter</a></li>
                                    <li><a href="https://www.linkedin.com/in/hariharan-s-aigamer/" target="_blank">Linkedin</a></li>
                                </ul>
                                <div id="credits">Credits to <span class="color"><a href="https://v1.bepatrickdavid.com/" class="color">Patrick David</a></span> for <span class="color">Portfolio Design</span></div>
                            </div>
                        </div>
                    </footer>
                    <!--  END Footer. Class fixed for fixed footer  -->
                </div>
            </div>
        </main>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/home/v2/assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="/static/home/v2/assets/js/bootstrap/bootstrap.min.js"></script>
        
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        
        <script src="/static/home/v2/assets/js/library.js"></script>
        <script src="/static/home/v2/assets/js/main.js"></script>
        <script>
            /*-------------------------------------------------*/
            /* =  Share
            /*-------------------------------------------------*/
            try {
                $('#share-this').click('a', function() {
                    $('#banner-share').addClass('is-open');
                    $('body').addClass('no-scroll'); 
                });
                $('.close-button').click('a', function() {
                    $('#banner-share').removeClass('is-open');
                    $('body').removeClass('no-scroll'); 
                });
            } catch(err) {

            }
        </script>
    </body>
</html>
