 {% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
      <meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=no">
      <meta name="description" content="Encyclopedia Created by Hariharan S">
      <meta name="author" content="Hariharan S">
      <meta name="abstract" content="">
      <meta name="keywords" content="Hariharan, Encyclopedia, AIGAMER, pythonanywhere">
      <meta name=”robots” content="index, follow">
      <meta name=”googlebot” content="index, follow">
      <meta name="google-site-verification" content="BLCBxcfjPy-aTrfDc5Sm9Yi5SxOtWqu9ZReIp_JhG5Q">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="/static/encyclopedia/styles.css?{% now 'U' %}" rel="stylesheet">
      <link rel="icon" href="https://www.wikipedia.org/static/favicon/wikipedia.ico">
    </head>
    <body>

<!-- Navigtion Menu Start -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <img class="disabled ml-3" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png" alt="LOGO" height="40px">
        <a class="navbar-brand h1 ml-5">
          {{ name }}
        </a>
        <div class="navbar-collapse h5">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {{ H }}" href="{% url 'encyclopedia:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ CNP }}" href="{% url 'encyclopedia:new' %}">Create New Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ RP }}" href="{% url 'encyclopedia:random' %}">Random Page</a>
            </li>
            {% if pa %}
              <li class="nav-item">
                <a class="nav-link {{ EP }}" href="{% url 'encyclopedia:edit' name %}">Edit Page</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <form class="form-inline" action="{% url 'encyclopedia:index' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-3" type="search" name="search" placeholder="Search" required>
            <button class="btn btn-outline-primary mr-sm-5" type="submit">Search</button>
        </form>
      </nav>
<!-- Navigtion Menu End -->

<!-- Body Block Start -->
      <div class="blockquote" id="bodyblock">
        {% block body %}
        {% endblock %}
      </div>
<!-- Body Block End -->

    </body>
</html>
